.page-item,
.page-link {
    width: 25px;
    height: 25px;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    line-height: 1;
    font-weight: bolder;

}