.rating-position {
  position: absolute;
}
.video-margin {
  margin-top: 25px
}
/* .views {
  color: #868383;  
} */
.styles_closeButton__20ID4 {
  top: 0px!important;
  right: 0px!important;
}
.video-meta-data {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: flex-start;
}
.video-meta-data span small {
  display: block;
  /* color: #141414 */
}
.video-meta-data span {
  margin-right: 10px;
}
.video-title{
  width:100%!important
}