.request-notification-container {
    background-color: #4b4d68 !important;
    color: #fff;
}

.notification-details {
    margin-top: 72px;
}

.video-style {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.display-upload {
    display: none !important;
}

.teacher-video {
    text-align: center;
    margin: 0 auto;
}

.notification-rejected {
    text-align: right;
}

.adjust-top {
    position: relative;
    top: 70px !important;
    min-height: 100vh;
    background-color: #fff;
    color: #000;
}

.own-progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.own-progress-bar {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width 0.6s ease;
}

.badge {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    font-size: 19px !important;
    color: #fff !important;
    line-height: 79px !important;
    text-align: center !important;
    margin: auto;
}

.badge-container {
    margin: auto;
    text-align: center;
}