.profile-image--style {
  border-radius: 100px;
}

.user-profile-card--padding {
  padding: 4px !important;
}

.user-details--height {
  height: unset !important;
}

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 16px;
  max-height: 50px;
  text-align: center;
  margin-right: 0em;
  padding-right: 1em;
  font-style: italic;
}

.block-with-text:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

blockquote {
  font-size: 30px;
  border-left: 10px solid #ccc;
  margin: 0.5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.comment-box--style {
  height: 100px !important;
  background: white !important;
  border: none !important;
  color: black !important;
}

.student-title--align {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
