.filterByDateInChat{
    padding-top: 10px;
    overflow-y: auto;
    top: 5px;
    color: white;
    right: 10px;
    bottom: 50px;
    margin: auto;
    background-color: #333546;
    padding-bottom: 10px;
    }