$backgroundColor: #232838;
$color: #fff;
$boxShadow: 0 2px 5px 0 rgba(0,0,0,.3);
$imagePath: './../logo.png';
$boxMinHeight: 40px; 
$none: none;
$mobileWidth: 576px;
$unset: unset;
$zero: 0;
$flex: flex;
$flexDir: row;
$positionAbs: absolute;
$paddingFive: 5px;
$imgPosition: center center;
$imgRepeat: no-repeat; 
$imgSize: contain;
$padding: 0