@import "./../../../styles.scss";

.video-container {
    border-radius: 0px;
    margin: 0;
    min-height: 200px;
}

.list-unstyled {
    margin: 0px !important;
    text-align: center;
    padding: 10px;
    display: $flex;
    flex-direction: $flexDir;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 0px;

    @media (max-width: $mobileWidth) {
        flex-direction: column;
    }
}
.list-unstyled input[type=checkbox] {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 999;
}

.video-list-thumbs>li {
    margin: 10px;
    width: 200px;
    height: 200px;

    @media (max-width: $mobileWidth) {
        width: 100%;
    }
}

.video-list-thumbs>li>a {
    height: inherit;
    display: block;
    position: relative;
    /* 	background-color: #696666;
 */
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    border-radius: 4px;
}

.video-list-thumbs>li>a>img {
    width: 180px;
    height: 140px;
    border: 1px solid #dcd9d9;

    @media (max-width: $mobileWidth) {
        width: 80%;
    }
}

.video-list-thumbs>li>a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.video-list-thumbs h2 {
    font-size: 14px;
    margin: 8px 0 0;
    text-align: left;
    color: #2e2d2d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.video-list-thumbs h6 {
    color: #6b5b5b;
    font-size: 12px;
    text-align: right;
    /* margin: 1px; */
    bottom: -1px;
    right: 10px;
    position: absolute;
}

.video-list-thumbs h5 {
    position: absolute;
    bottom: -18px;
    left: 6px;
}

.video-list-thumbs .fa-play-circle {
    font-size: 60px!important;
    opacity: 0.6;
    position: absolute;
    right: 35%;
    top: 25%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
}

.video-list-thumbs>li>a:hover .fa-play-circle {
    color: #fff;
    opacity: 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.video-list-thumbs .duration {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 12px;
    line-height: 13px;
    padding: 2px 3px 1px;
    position: absolute;
    top: 12px;
    transition: all 500ms ease;
}

.video-list-thumbs>li>a:hover .duration {
    background-color: #000;
}

.video-container--background {
    background-color: #4b4e68 !important;
    color: white !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .video-list-thumbs .fa-play-circle {
        font-size: 35px!important;
        right: 45%;
        top: 30%;
    }

    .video-list-thumbs h2 {
        bottom: 0;
        font-size: 12px;
        height: 22px;
        margin: 8px 0 0;
    }
}